{% extends "base.html" %}
{% load humanize %}
{% block content %}
<h2>Ship Payouts</h2>

<div class="table-responsive" style="max-height: 75vh;">
  <table class="table table-dark table-striped table-hover mb-0">
    <thead class="sticky-top bg-dark">
      <tr>
        <th>Ship Name</th>
        <th class="text-end">Strategic</th>
        <th class="text-end">Peacetime</th>
        <th class="text-end">Shitstack</th>
        <th class="text-end">TNT Special</th>
        <th>Hull Contract</th>
      </tr>
    </thead>
    <tbody>
      {% for ship in ships %}
      <tr>
        <td>{{ ship.ship_name }}</td>
        <td class="text-end">{{ ship.strategic|floatformat:0|intcomma }}</td>
        <td class="text-end">{{ ship.peacetime|floatformat:0|intcomma }}</td>
        <td class="text-end">{{ ship.shitstack|floatformat:0|intcomma }}</td>
        <td class="text-end">{{ ship.tnt_special|floatformat:0|intcomma }}</td>
        <td>
          {% if ship.hull_contract %}
            <span class="badge text-bg-info">Hull</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
